DATABASE_URL=sqlite+aiosqlite:////app/data/chatkit.db  # use sqlite+aiosqlite:///./chatkit.db when running locally
TORTOISE_DATABASE_URL=sqlite:///app/data/chatkit.db    # use sqlite:///chatkit.db locally
APP_ENCRYPTION_KEY=                                     # run `python - <<<'from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())'`
REDIS_URL=redis://redis:6379/0
ADMIN_SECRET=super-secret
ADMIN_USER__username=admin
ADMIN_USER__password=changeme
ADMIN_PATH=/admin
